{{page-title "Index"}}

<div class="w-20 h-20 bg-red-400">
    <!-- 
        Name
        Buttons for beer
        ?? Different designs for different amounts of beer ??
    -->

</div>
<div>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
    test test test test test test test test test test test test test test test test<br>
</div>

<container class="row">
    {{#each this.model.people as |person|}}
    {{#if person.is_active}}
    <PersonCardConsumable @person={{person}} class="col-sm-6" style="padding: 20px;" />
    {{/if}}
    {{/each}}
</container>