{{page-title "index of main"}}
<main class="container mt-5">
    <LinkTo @route="main/settings">Settings</LinkTo>
    <LinkTo @route="main/containers">Containers</LinkTo>
    <LinkTo @route="main/transactions">Transactions</LinkTo>
</main>



{{outlet}}