{{page-title "Main"}}

<!-- This is an example component -->
<div class="w-full h-screen flex justify-center ">
    <div class="fixed top-0">
        <div class="flex-shrink px-10 py-2 rounded-b-3xl bg-gray-700  invertedCornerTopLeft invertedCornerTopRight">
            <h1 class=" text-white">{{this.getfullname}}</h1>
        </div>
    </div>




    <div class="w-full fixed bottom-0 bg-gray-700 h-20 invertedCornersBottom">
        <nav class="w-full text-xs absolute">
            <ul class="flex justify-between items-center text-white text-center text-lg font-bold pl-0">
                <li class="p-4  hover:bg-gray-500">
                    <img src="assets/icons/logout.svg" class="h-7 transform rotate-180">
                </li>
                <li class="p-4  hover:bg-gray-500">
                    <img src="assets/icons/history.svg" class="h-7">
                </li>
                <div
                    class="rounded-full bg-gray-700 flex items-center justify-center -mt-14 border-8 border-yellow-100  hover:bg-gray-500">
                    <li class="p-4 ">
                        <img src="assets/icons/beer.svg" class="h-10 ">
                    </li>
                </div>
                <li class="p-4  hover:bg-gray-500">
                    <img src="assets/icons/containers.svg" class="h-7">
                </li>
                <li class="p-4  hover:bg-gray-500">
                    <img src="assets/icons/settings.svg" class="h-7">
                </li>
            </ul>
        </nav>
    </div>

    <div class="h-full w-full  bg-yellow-100">
        <div class="bg-yellow-100 pb-32 pt-20 w-full items-center justify-center flex flex-column">
            {{outlet}}
        </div>

    </div>
</div>

{{!-- {{outlet}} --}}