<aside>
    <div>
        <p style="color:{{@person.color}}">Person {{@person.name}}</p>
        <ul>
            {{#each @person.balance as |item|}}
            <li>
                <PersonCardItem @item={{item}} @personid={{@person.id}} />
            </li>
            {{/each}}
        </ul>
    </div>
</aside>