{{page-title "Index"}}
<main class="container mt-5">
    <h1>Main Index</h1>
    <LinkTo @route="main.settings">Settings</LinkTo>
    <LinkTo @route="main.containers">Containers</LinkTo>
    <LinkTo @route="main.transactions">Transactions</LinkTo>
    <Counter />
</main>
{{outlet}}